<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>健康卫士</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link href="/styles/base/base.css" rel="stylesheet">
    <link href="/styles/list/list.css" rel="stylesheet">
    <link href="/styles/tabbar/tabbar.css" rel="stylesheet">
    <script src="/js/font/font.js"></script>
</head>

<body>

    <div class="container">
        <div class="top">
            <div class="title">
              <%=data.typeData.name%>
            </div>
            <% if (data.typeData.subtitle) { %>
              <div class="subtitle">
                <%=data.typeData.subtitle%>
              </div>
            <% } %>
        </div>
        <% if (data.typeData.video) { %>
          <div class="video">
              <video src="<%=data.typeData.video%>" controls="controls">
                您的浏览器不支持视频播放。
              </video>
          </div>
        <% } %>
        <div class="list">
            <% data.knowledgeData.forEach(function(row) { %>
              <div class="row ck krow" knowledgeId="<%=row.id%>">
                  <div class="title">
                    <%=row.title%>
                  </div>
                  <div class="ar">
                  </div>
              </div>
            <% }); %>
        </div>
        <div class="w">
        </div>
        <div class="tabbar">
            <div class="tabbtn act ck" id="tb-klg">
                <div class="tabico icoknlg">
                </div>
                <div class="tabtitle">
                    知识
                </div>
            </div>
            <div class="tabbtn ck" id="tb-hp">
                <div class="tabico icohlp">
                </div>
                <div class="tabtitle">
                    助手
                </div>
            </div>
            <div class="tabbtn ck" id="tb-my">
                <div class="tabico icomy">
                </div>
                <div class="tabtitle">
                    我的
                </div>
            </div>
        </div>
    </div>

<script src="/js/jquery/jquery.min.js"></script>
<script src="/js/mobile/Tocca.min.js"></script>
<script src="/js/base/base.js"></script>
<script>
  $('#tb-klg').on('tap', function(event){
    location.href = '/knowledge/main';
  });
  $('#tb-hp').on('tap', function(event){
    location.href = '/helper/index';
  });
  $('#tb-my').on('tap', function(event){
    location.href = '/my/index';
  });
  $('.krow').on('tap', function(event){
    var knowledgeId = $(this).attr('knowledgeId');
    location.href = '/knowledge/detail?id=' + knowledgeId;
  });
</script>
</body>
</html>
